menu "App Errors"

    config FATAL_CAUSES_REBOOT
        bool "Fatal Error Causes Reboot"
        default y
        help
            Whether a fatal error causes a system reboot or not. It is useful
            to turn this off during development, however there will typically
            not be a way to retrieve logs in the field and the system should
            just restart as quickly as possible.

    config ERROR_PERIOD
        int "Error Flash Period"
        default 500
        help
            The amount of time in milliseconds (1/1000th of a second) between 
            error LED toggling for TomTom errors.

endmenu