menu "App Errors"

    config ERROR_PERIOD
        int "Error Flash Period"
        default 500
        help
            The amount of time in milliseconds (1/1000th of a second) between 
            error LED toggling for TomTom errors.

endmenu