# macro extern definitions
CONFIG_OTA_EXTERN_MACROS=y
CONFIG_UTILS_EXTERN_MACROS=y

# ESP HTTP Client Wrapper
CONFIG_MOCK_ESP_HTTP_CLIENT=y
CONFIG_MAX_NUM_CLIENT_ENDPOINTS=10
# CONFIG_TEST_ESP_HTTP_CLIENT_WRAPPER is not set

# list of mocked components for ota unit tests
CONFIG_MOCK_INDICATORS=y
CONFIG_MOCK_APP_ERRORS=y
CONFIG_MOCK_REFRESH=y # to avoid util extern macro conflicts