menu "Led Matrix"

    config I2C_GATEKEEPER_STACK
        int "Stack size in bytes of I2C Gatekeeper task"
        default 3584

    config I2C_GATEKEEPER_PRIO
        int "Priority of the I2C Gatekeeper task"
        default 2

endmenu