menu "API Connect Test"

    config TEST_DATA_SERVER
        string "Test Data Server"
        default "https://bearanvil.com"
        help
            The server to request updated segment speed data from.

    config TEST_MAX_DATA_URL_LEN
        int "Test Max Data URL Length"
        default 60
        help
            The maximum length that the URL of the current data from
            the data server can be, not including null terminator. 
            ex: "https://bearanvil.com/current_data/data_north_V1_0_0.json" -> 57

    config TEST_DATA_BASE_URL
        string "Test Data Base URL"
        default "/test_data/test_api_connect_data"
        help
            The base page for the test data files on the test data server.

endmenu