menu "Refresh"

    config MOCK_REFRESH
        bool "Mock Refresh Component"
        default n
        help
            Whether to mock refresh.h or not.

    config EXTERN_REFRESH_CONFIG
        bool "Use Extern refresh_config Macros"
        default n
        help
            Whether to use extern variables instead of macros in refresh_config.h

endmenu