#
# Main Application
#
CONFIG_FIRMWARE_VERSION=5
CONFIG_FIRMWARE_CONF="ARYB05"
# CONFIG_FIRST_DIR_NORTH is not set
CONFIG_LED_REFRESH_PERIOD=5
CONFIG_LED_UPDATE_PERIOD=20
CONFIG_LED_CLEAR_PERIOD=10
CONFIG_DEBOUNCE_PERIOD=200
CONFIG_RETRY_RECONNECT_PERIOD=500
CONFIG_OTA_LEFT_ON_MS=1000
CONFIG_NUM_RETRY_HTTP_REQUEST=5
CONFIG_FIRMWARE_UPGRADE_SERVER="https://bearanvil.com"
CONFIG_DATA_SERVER="https://bearanvil.com"
CONFIG_MAX_DATA_URL_LEN=60
CONFIG_NVS_ENTRY_BUFFER_LENGTH=256
# CONFIG_USE_FAKE_DATA is not set
# CONFIG_TIMER_CAUSES_TOGGLE is not set
CONFIG_GLOBAL_LED_CURRENT=112
CONFIG_SLOW_CUTOFF_PERCENT=50
CONFIG_MEDIUM_CUTOFF_PERCENT=80
CONFIG_MAIN_PRIO=3
CONFIG_WORKER_STACK=4184
CONFIG_WORKER_PRIO=1
CONFIG_OTA_STACK=3584
CONFIG_OTA_PRIO=4
# end of Main Application

#
# Led Matrix
#
CONFIG_I2C_GATEKEEPER_STACK=3584
CONFIG_I2C_GATEKEEPER_PRIO=2
# end of Led Matrix

#
# App Errors
#
# CONFIG_FATAL_CAUSES_REBOOT is not set
CONFIG_ERROR_PERIOD=500
# end of App Errors