CONFIG_ESP_INT_WDT=y
CONFIG_ESP_TASK_WDT=y
CONFIG_ESP_TASK_WDT_EN=y

CONFIG_ESP_MAIN_TASK_STACK_SIZE=15000



#
# Main Application
#
CONFIG_DISABLE_TESTING_FEATURES=y
# end of Main Application

# Run-time checks of Heap and Stack
CONFIG_COMPILER_STACK_CHECK_MODE_NONE=y
# CONFIG_UNITY_ENABLE_BACKTRACE_ON_FAIL is not set