CONFIG_FIRMWARE_MAJOR_VERSION=0
CONFIG_FIRMWARE_MINOR_VERSION=8
CONFIG_FIRMWARE_PATCH_VERSION=2
CONFIG_SERVER_FIRMWARE_VERSION=5

CONFIG_FIRMWARE_CONF="ARYB05"
CONFIG_LED_REFRESH_PERIOD=1
CONFIG_LED_UPDATE_PERIOD=20
CONFIG_LED_CLEAR_PERIOD=10