menu "Animations"

    config SUPPORT_STROBING
        bool "Support Strobing"
        default false
        help
            Whether or not strobing should be enabled. This may be 
            required to be false to meet binary size requirements.

    config STROBE_STACK
        int "Strobe Task Stack Size"
        default 10000
        help
            The size in bytes of the strobe task stack.
            
    config STROBE_PRIO
        int "Strobe Task Priority"
        default 5
        help
            The priority of the strobe task.

endmenu